@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body,
button,
input,
textarea,
select,
.navbar,
.navbar-brand,
.nav-link,
h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", Arial, sans-serif !important;
}
.post-preview .post-subtitle {
    font-family: "Inter", Arial, sans-serif !important;
    font-size: 1.55rem;
    font-weight: 300;
    line-height: 1.5;
}